# Ignore development and build-related files
node_modules/
npm-debug.log
package-lock.json
yarn.lock
*.log
*.swp
.DS_Store
*.git
.gitignore
.vscode/
.editorconfig
.env

# Ignore test and documentation files
__tests__/
doc/
docs/
test/
tests/
