.header-github-link:hover,
.header-star-link:hover,
.header-fork-link:hover,
.header-read-doc-link:hover  {
  opacity: 0.6;
}

.header-github-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-star-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='orange' d='M 8 0.25 a 0.75 0.75 0 0 1 0.673 0.418 l 1.882 3.815 l 4.21 0.612 a 0.75 0.75 0 0 1 0.416 1.279 l -3.046 2.97 l 0.719 4.192 a 0.751 0.751 0 0 1 -1.088 0.791 L 8 12.347 l -3.766 1.98 a 0.75 0.75 0 0 1 -1.088 -0.79 l 0.72 -4.194 L 0.818 6.374 a 0.75 0.75 0 0 1 0.416 -1.28 l 4.21 -0.611 L 7.327 0.668 A 0.75 0.75 0 0 1 8 0.25 Z'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-star-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='orange' d='M 8 0.25 a 0.75 0.75 0 0 1 0.673 0.418 l 1.882 3.815 l 4.21 0.612 a 0.75 0.75 0 0 1 0.416 1.279 l -3.046 2.97 l 0.719 4.192 a 0.751 0.751 0 0 1 -1.088 0.791 L 8 12.347 l -3.766 1.98 a 0.75 0.75 0 0 1 -1.088 -0.79 l 0.72 -4.194 L 0.818 6.374 a 0.75 0.75 0 0 1 0.416 -1.28 l 4.21 -0.611 L 7.327 0.668 A 0.75 0.75 0 0 1 8 0.25 Z'/%3E%3C/svg%3E")
    no-repeat;
}

.header-fork-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-fork-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z'/%3E%3C/svg%3E")
    no-repeat;
}

.header-read-doc-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}


[data-theme='dark'] .header-read-doc-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 448 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z'/%3E%3C/svg%3E")
    no-repeat;
}

.header-slack-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3ESlack%3C%2Ftitle%3E%3Cpath%20d%3D%22M5.042%2015.165a2.528%202.528%200%200%201-2.52%202.523A2.528%202.528%200%200%201%200%2015.165a2.527%202.527%200%200%201%202.522-2.52h2.52v2.52zM6.313%2015.165a2.527%202.527%200%200%201%202.521-2.52%202.527%202.527%200%200%201%202.521%202.52v6.313A2.528%202.528%200%200%201%208.834%2024a2.528%202.528%200%200%201-2.521-2.522v-6.313zM8.834%205.042a2.528%202.528%200%200%201-2.521-2.52A2.528%202.528%200%200%201%208.834%200a2.528%202.528%200%200%201%202.521%202.522v2.52H8.834zM8.834%206.313a2.528%202.528%200%200%201%202.521%202.521%202.528%202.528%200%200%201-2.521%202.521H2.522A2.528%202.528%200%200%201%200%208.834a2.528%202.528%200%200%201%202.522-2.521h6.312zM18.956%208.834a2.528%202.528%200%200%201%202.522-2.521A2.528%202.528%200%200%201%2024%208.834a2.528%202.528%200%200%201-2.522%202.521h-2.522V8.834zM17.688%208.834a2.528%202.528%200%200%201-2.523%202.521%202.527%202.527%200%200%201-2.52-2.521V2.522A2.527%202.527%200%200%201%2015.165%200a2.528%202.528%200%200%201%202.523%202.522v6.312zM15.165%2018.956a2.528%202.528%200%200%201%202.523%202.522A2.528%202.528%200%200%201%2015.165%2024a2.527%202.527%200%200%201-2.52-2.522v-2.522h2.52zM15.165%2017.688a2.527%202.527%200%200%201-2.52-2.523%202.526%202.526%200%200%201%202.52-2.52h6.313A2.527%202.527%200%200%201%2024%2015.165a2.528%202.528%200%200%201-2.522%202.523h-6.313z%22%2F%3E%3C%2Fsvg%3E")
    no-repeat;
  content: "";
  display: flex;
  height: 24px;
  width: 24px;
}

[data-theme='dark'] .header-slack-link:before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20role%3D%22img%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%3ESlack%3C%2Ftitle%3E%3Cpath%20d%3D%22M5.042%2015.165a2.528%202.528%200%200%201-2.52%202.523A2.528%202.528%200%200%201%200%2015.165a2.527%202.527%200%200%201%202.522-2.52h2.52v2.52zM6.313%2015.165a2.527%202.527%200%200%201%202.521-2.52%202.527%202.527%200%200%201%202.521%202.52v6.313A2.528%202.528%200%200%201%208.834%2024a2.528%202.528%200%200%201-2.521-2.522v-6.313zM8.834%205.042a2.528%202.528%200%200%201-2.521-2.52A2.528%202.528%200%200%201%208.834%200a2.528%202.528%200%200%201%202.521%202.522v2.52H8.834zM8.834%206.313a2.528%202.528%200%200%201%202.521%202.521%202.528%202.528%200%200%201-2.521%202.521H2.522A2.528%202.528%200%200%201%200%208.834a2.528%202.528%200%200%201%202.522-2.521h6.312zM18.956%208.834a2.528%202.528%200%200%201%202.522-2.521A2.528%202.528%200%200%201%2024%208.834a2.528%202.528%200%200%201-2.522%202.521h-2.522V8.834zM17.688%208.834a2.528%202.528%200%200%201-2.523%202.521%202.527%202.527%200%200%201-2.52-2.521V2.522A2.527%202.527%200%200%201%2015.165%200a2.528%202.528%200%200%201%202.523%202.522v6.312zM15.165%2018.956a2.528%202.528%200%200%201%202.523%202.522A2.528%202.528%200%200%201%2015.165%2024a2.527%202.527%200%200%201-2.52-2.522v-2.522h2.52zM15.165%2017.688a2.527%202.527%200%200%201-2.52-2.523%202.526%202.526%200%200%201%202.52-2.52h6.313A2.527%202.527%200%200%201%2024%2015.165a2.528%202.528%200%200%201-2.522%202.523h-6.313z%22%2F%3E%3C%2Fsvg%3E")
    no-repeat;
}

.navbar__logo img {
  height: 160%;
  margin-top: -10px;
  filter: brightness(0%);
}

[data-theme='dark'] .navbar__logo img {
  filter: brightness(0) invert(1);
}

:root {
  --ifm-navbar-height: 85px;
}

.terminal-window {
  text-align: left;
  width: 600px;
  height: 380px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

.terminal-window header {
  background: #E0E8F0;
  height: 30px;
  border-radius: 8px 8px 0 0;
  padding-left: 10px;
}

.terminal-window header .btn {
  width: 12px;
  height: 12px;
  margin: 10px 4px 0 0;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .btn.green {
  background: #3BB662;
}

.terminal-window header .btn.yellow {
  background: #E5C30F;
}

.terminal-window header .btn.red {
  background: #E75448;
}

.terminal-window section.terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  background: #30353A;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.terminal-window section.terminal .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.terminal-window .gray { color: gray; }
.terminal-window .green { color: green;}
