/* Search.css */

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10 px;
}

.search-input {
  padding: 10px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px; /* Adjust width as needed */
  font-size: 14px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff; /* Change to your desired focus color */
  outline: none; /* Remove default outline */
}

.search-button {
  padding: 10px 16px;
  border: none;
  border-radius: 10px;
  background-color: #007bff; /* Change to your desired button color */
  color: white;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}
