name: experimental-inventory-cli - Publish to NPM
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'release version without v prefix'
        required: true
        type: string
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: check version matches input
        run: |
          grep "\"version\": \"${{ github.event.inputs.version }}\"," package.json
        working-directory: ./experimental/li-cli

      - run: npm ci
        working-directory: ./experimental/li-cli

      - run: npm run build
        working-directory: ./experimental/li-cli

      - run: npm publish --access=public
        working-directory: ./experimental/li-cli
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
