name: experimental-inventory-cli - Publish to NPM
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'release version without v prefix'
        required: true
        type: string
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: check version matches input
        run: |
          grep "\"version\": \"${{ github.event.inputs.version }}\"," package.json
        working-directory: ./experimental/li-cli

      - run: npm ci
        working-directory: ./experimental/li-cli

      - run: npm run build
        working-directory: ./experimental/li-cli

      - run: npm publish --access=public
        working-directory: ./experimental/li-cli
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
