name: CI - experimental - inventory

on:
  push:
    branches: [main]
    paths:
      - experimental/license-inventory/**
  pull_request:
    branches: [main]
    paths:
      - experimental/license-inventory/**

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]
        mongodb-version: [8.0]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: ${{ matrix.node-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@315db7fe45ac2880b7758f1933e6e5d59afd5e94 # 1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Install dependencies
        working-directory: ./experimental/license-inventory
        run: npm ci

      - name: Test
        working-directory: ./experimental/license-inventory
        run: |
          MONGO_URI="mongodb://localhost:27017/inventory" npm run test
