name: Code Cleanliness

on: [pull_request]

permissions:
  contents: read
  pull-requests: none
  actions: read

env: # environment variables (available in any part of the action)
  NODE_VERSION: 18

permissions:
  contents: read

jobs:
  linting:
    name: Linting
    runs-on: ubuntu-latest
    steps: # list of steps
      - name: Harden Runner
        uses: step-security/harden-runner@cb605e52c26070c328afc4562f0b4ada7618a84e # v2
        with:
          egress-policy: audit

      - name: Install NodeJS
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Code Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Install Dependencies
        run: npm install --workspaces
  
      - name: Code Linting
        run: |
          npm run lint
          npm run lint --workspaces --if-present
