## Reference: https://github.com/amannn/action-semantic-pull-request
---
name: 'PR'

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions:
  contents: read

jobs:
  pr_title:
    permissions:
      pull-requests: write
      statuses: write
    name: Validate & Label PR
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Configure which types are allowed (newline-delimited).
          # From: https://github.com/commitizen/conventional-commit-types/blob/master/index.json
          # listing all below
          types: |
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            revert
            test
            break
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
