## Reference: https://github.com/amannn/action-semantic-pull-request
---
name: "PR"

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions:
  contents: read

jobs:
  pr_title:
    permissions:
      pull-requests: write
      statuses: write
    name: Validate & Label PR
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@0723387faaf9b38adef4775cd42cfd5155ed6017 # v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # Configure which types are allowed (newline-delimited).
          # From: https://github.com/commitizen/conventional-commit-types/blob/master/index.json
          # listing all below
          types: |
            chore
            ci
            docs
            feat
            fix
            perf
            refactor
            revert
            test
            break
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 # v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
