name: Publish samples to NPM

on:
  push:
    tags:
      - 'sample-*'

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        working-directory: plugins/git-proxy-plugin-samples
        run: npm ci

      - name: Build TypeScript
        working-directory: plugins/git-proxy-plugin-samples
        run: npm run build

      - name: Install peers and publish
        working-directory: plugins/git-proxy-plugin-samples
        run: |
          npm install --include=peer
          npm publish --provenance --access=public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
